.container {
    background-image: url("Firethekid.JPG");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center 45%;
    margin:0;
    padding:0;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}
* {
    margin:0;
    padding:0;
}
.container::before {
    content: "";
    background-color: rgba(142, 134, 134, 0.5); /* Adjust the color and opacity as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}
.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    max-width: 50%;
    overflow: hidden;
}
.text-box h1{
    font-size: 125px;
    font-weight: normal;
}
.content {
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    text-align: center;
    margin: 30px;
    font-size: 500px;
}
br {
    font-size: 30px;
}